@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-weight: 500;
}

.auth-parent{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(81%2c 46%2c 95%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c335.976C73.762%2c341.221%2c154.905%2c377.814%2c217.34%2c338.188C279.771%2c298.564%2c293.688%2c213.165%2c307.849%2c140.59C319.788%2c79.404%2c299.886%2c19.862%2c291.506%2c-41.912C283.046%2c-104.276%2c295.99%2c-173.429%2c258.403%2c-223.907C220.124%2c-275.314%2c151.259%2c-288.271%2c91.266%2c-310.825C26.462%2c-335.188%2c-39.148%2c-379.011%2c-105.967%2c-360.891C-172.954%2c-342.726%2c-216.502%2c-277.849%2c-251.454%2c-217.886C-282.381%2c-164.83%2c-286.129%2c-103.107%2c-291.87%2c-41.964C-297.337%2c16.259%2c-299.169%2c73.239%2c-284.096%2c129.742C-266.699%2c194.954%2c-252.962%2c268.978%2c-198.343%2c308.628C-143.217%2c348.646%2c-67.948%2c331.144%2c0%2c335.976' fill='%2341254c'%3e%3c/path%3e%3cpath d='M1440 900.21C1502.735 901.652 1549.355 846.229 1602.147 812.3050000000001 1654.942 778.38 1714.584 753.492 1749.4850000000001 701.337 1787.728 644.187 1818.417 575.02 1806.216 507.346 1794.113 440.21299999999997 1732.913 396.33000000000004 1685.632 347.159 1640.789 300.523 1596.314 254.88600000000002 1537.514 227.89800000000002 1471.761 197.719 1400.088 167.798 1329.51 183.70499999999998 1257.508 199.933 1198.123 253.3 1155.973 313.889 1116.18 371.09000000000003 1105.789 441.789 1101.58 511.343 1097.643 576.403 1098.38 644.908 1132.5819999999999 700.393 1165.225 753.3489999999999 1230.414 771.06 1282.5720000000001 804.962 1335.06 839.078 1377.416 898.7719999999999 1440 900.21' fill='%23613772'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

a{
    text-decoration: underline;
}
.ant-form-item-label{
   padding: 0px;
}
.ant-form-item{
    margin-bottom: 0 !important;
}